#container{
    display:flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin:auto;
    border: 2px solid black;
    
}

.square{
    border: 1px solid black;
    box-sizing: border-box;
    
}


.change-button{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
}



