#container{
    display:flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin:auto;
    border: 2px solid black;
    
}

.square{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    flex: 0 0 40px;
    box-sizing: border-box;
    
}


